@import "tailwindcss";

.nav-underline {
  position: relative;
}

.nav-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* distance from text */
  width: 100%;
  height: 2px; /* thickness of underline */
  background-color: #DC2828; /* underline color */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-underline:hover::after {
  transform: scaleX(1);
}

@keyframes slowZoom {
  0% { transform: scale(1); }
  100% { transform: scale(1.05); }
}

.animate-slowZoom {
  animation: slowZoom 20s ease-in-out infinite alternate;
}

